streamlit==1.37.0
PyYAML==5.3.1
cryptography==42.0.5
streamlit-authenticator==0.4.2
streamlit-option-menu==0.3.6
bcrypt==3.1.7  # Uncommented (required by streamlit-authenticator)
PyJWT==2.3.0   # Uncommented (required by streamlit-authenticator)
# bcrypt==3.1.7
# PyYAML==6.0
# captcha==0.5.0
# cryptography==42.0.5
# extra-streamlit-components==0.1.70
# PyJWT==2.3.0
# pytest==7.0.0
# streamlit==1.37.0
# streamlit-authenticator==0.4.2